body {
    background-color: #f3eeee(0 85% 13%);
    font-family: 'Arial', sans-serif;
}

/* Product Cards */
.card {
    height: 450px;
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: cover;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #e6e9ec;
    padding: 15px;
    
}

/* Responsive Styles */