/* Basic reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.form{
  border-radius: 10px;
}
  /* Responsive Styles */
  @media (max-width: 600px) {
    .container {
      padding: 15px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    .form-group input, .form-group textarea {
      font-size: 16px;
    }
  
    button.submit-btn {
      font-size: 14px;
    }
  }
  