<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    
    <select name="" id="">
        {% for i in data %}
        <option value="{{i.cname}}">{{i.cname}}</option>
        {% endfor %}
    </select>
    
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="bname" id="bname" placeholder="Brand Name">
        <input type="submit" value="Add">
    </form>
</body>
</html>