<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    

    <form action="" method="post">
        {% csrf_token %}
        <select name="p_id" id="">
            
            {% for d in data1 %}
            <option value="{{d.pk}}">{{d.pname}}</option>
            {% endfor %}
        </select>
        <input type="text" name="color" id="" placeholder="Device Color">
        <input type="text" name="storage" id="" placeholder="Device Storage">
        <input type="text" name="ram" id="" placeholder="Device Ram">
        <input type="number" name="price" id="" placeholder="Product Price" required>
        <input type="number" name="stock" id="" placeholder="Number of Stocks" required>
        <input type="submit" value="Add">
    </form>
</body>
</html>