<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Form</title>
    <link rel="stylesheet" href="{% static 'address.css' %}">
</head>
<body>
    <nav class="navbar">
     
        <a href="#" class="logo"><img src="static/img/logo.png" alt="" width="80" height="100"></a>

       
        <ul id="navbar-links">
            <li><a href="user_home">Home</a></li>
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Brands
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for i in data2 %}
                    <li><a href="{% url 'brand_products' brand_id=i.pk %}" class="dropdown-item">{{i.cname}}</a></li>
                    {% endfor %}
                </ul>
            </li>
         
            <li><a href="user_booking">Bookings</a></li>
           <li><a href="view_cart">🛒</a></li>
            <li><a href="logout">LogOut</a></li>
        </ul>

        <div class="menu-icon" id="menu-icon">
            &#9776;
        </div>
    </nav>

    <h1>Address Form</h1>
    <form method="POST">
        {% csrf_token %}
        
        <div>
            <label for="name">Name:</label>
            <textarea id="name" name="name" rows="2" cols="30" required></textarea>
        </div>

        <div>
            <label for="phn">Phone Number:</label>
            <input type="text" id="phn" name="phn" maxlength="15" required>
        </div>

        <div>
            <label for="house">House:</label>
            <textarea id="house" name="house" rows="2" cols="30" required></textarea>
        </div>

        <div>
            <label for="street">Street:</label>
            <textarea id="street" name="street" rows="2" cols="30" required></textarea>
        </div>

        <div>
            <label for="pin">PIN Code:</label>
            <input type="number" id="pin" name="pin" required>
        </div>

        <div>
            <label for="state">State:</label>
            <textarea id="state" name="state" rows="2" cols="30" required></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
    <div class="col-lg-5">
        {% for i in data %}
        <div class="card">
          <div class="card-body">
              <h4 class="card-title"> NAME : {{i.name}}</h4>
              <h5 class="card-text"> HOUSE/BIULDING : {{i.house}}</h5>
              <h5 class="card-text">STREET : {{i.street}}</h5>
              <h5 class="card-text">PIN : {{i.pin}}</h5>
              <h5 class="card-text">STATE : {{i.state}}</h5>
              <h5 class="card-text">PHONE : {{i.phn}}</h5>
              <a href="delete_address/{{i.pk}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
        {% endfor %}
      </div>

      <script>
        const menuIcon = document.getElementById('menu-icon');
        const navbarLinks = document.getElementById('navbar-links');

        menuIcon.addEventListener('click', () => {
            navbarLinks.classList.toggle('show');
        });
      </script>
</body>
</html>
