<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 >{{price}}₹</h3>
    <h3>Shipping Address : </h3> 
    <h4>{{address.name}}</h4>
    <h4>{{address.house}}</h4>
    <h4>{{address.street}}</h4>
    <h4>{{address.state}}</h4>
    <h4>{{address.pin}}</h4>
    <h4>{{address.phn}}</h4>
    <a class="btn btn-primary" href="../../../../bookings/{{data.pk}}/{{address.pk}}">CONFIRM PAYMENT</a>

</body>
</html>